---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Titol from "../components/Titol.astro"
import cv from "../data/cv.json";

---

<!--Aqui es passa el contingut mitjançat l'slot -->
<Layout>
	<Titol
		title="Em dic Oliver"
	/>	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente molestias, accusantium doloremque ex optio, nobis enim hic asperiores atque ratione sed eius. Tenetur, culpa ratione?</p>
	<hr/>

	<h2>Personal Projects</h2>
	<p>Selecciona un proyecte</p>
	<div>
		{cv.projects.map((project) => (
			<Card
				image={project.image} 
    			title={project.name}
    			description={project.description}
    			enllac={`/projectes/${project.id}`}
			/>
		))}
	<section class="hero">
		<h2>{cv.name}</h2>
		<h3>{cv.title}</h3>
		<p>{cv.profile_summary}</p>

	</section>
</Layout>

<style>
	div{
		display:flex;
		flex-wrap: wrap;
		width: 60%;
		margin: 10px;
		padding: 10px;
		justify-content: space-around;
		border-radius: 20px;
		background: linear-gradient(360deg,rgba(71, 194, 255, 1) 0%, rgba(87, 255, 106, 1) 100%);
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
	}


</style>
